ul {
    list-style: disc;
}

.main-container {
    padding: 0 5%;
    margin: 2em 0em 1em 0em;
}

.main-container>p,
.main-container>ul,
.main-container>img {
    margin: 0.5em 0em 0em 0em;
}

.main-container>ul {
    margin-left: 3em;
}